.yellow {
    height: 50px;
    background-color:yellow;
    
    
}
.blue {
    height: 50px;
    background-color: blue;
    
}
.red {
    height: 50px;
    background-color: red;
    
}

.green {
    height: 50px;
    background-color: green;

}

.grey {
    height: 50px;
    background-color: grey;
    
}


.row{
    margin-bottom: 10px;
}




